@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");


body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    background-color: #f7f7f7;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.text-muted {
    color: #a0a0a0;
    font-style: italic;
}

.presentation-section {
    text-align: center;
    padding: 40px 0;
}

.description-text {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

.cards {
  display: grid; 
  /* Définit 3 colonnes de taille égale */
  grid-template-columns: 1fr 1fr 1fr; 
  /* Espace entre les cartes */
  gap: 20px; 
  justify-content: center; 
  margin-top: 20px;
  margin-bottom: 40px;
}

.card {
  text-align: center;
  padding: 15px; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  background-color: white;
  height: 100%; 
}

.card img {
  width: 100%; 
  height: 180px; 
  object-fit: cover; 
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
