.container {
    width: 900px;  
    margin: 0 auto;  
    padding: 0 20px; 
}

@media (max-width: 992px) {
    .container {
        width: 80%; 
    }
}
@media (max-width: 768px) {
    .container {
        width: 90%; 
    }
}
