.container {
    width: 900px;  /* Largeur fixe sur les grands écrans */
    margin: 0 auto;  /* Centrage automatique */
    padding: 0 20px; /* Ajout d'un petit padding pour éviter que le contenu ne touche les bords sur mobile */
}

/* Responsivité du conteneur */
@media (max-width: 992px) {
    .container {
        width: 80%; /* Passe à 80% de la largeur de la fenêtre sur les grands écrans */
    }
}
@media (max-width: 768px) {
    .container {
        width: 90%; /* Passe à 90% de la largeur de la fenêtre sur les petits écrans */
    }
}